* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html{
  font-family: Arial, sans-serif;
}
.row {
  display: flex;
  flex-direction:row;
}
.column {
  padding: 10px;
}
#google {
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}
#logo {
  width: 92px;
  aspect-ratio: auto 92/30;
}
#search_input {
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  height: 44px;
  width: 541px;
  padding: 0;
  margin-left: 40px;
}
#input_in {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  margin-left: 12px;
  width: 470px;
  font-size: 16px;
}
.icon, .button_icon {
  height: 24px;
  width: 24px;
}
#first-form {
  display: inline-flex;
}
#search_button {
  margin-left: 10px;
  padding: 0;
  height: 44px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
#search_svg{
  margin-top: 5px;

}
path{
  fill: #4285f4;
}
#menu{
  padding-top: 20px;
  padding-left: 5px;
  margin-top: 10px;
}
#submenu {
  margin-left: 10px;
  margin-top: 10px;
  color: grey;
}
.active {
  color: #4285f4;
}
.inactive {
  color: grey;
}
.sub-menu
{
  display: none;
  padding-right: 240px;
}
.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover
{
  display: block;
}
label>span {
  width: 50px;
}
.sub-menu-1{
  width: 200px;
  padding-right: 240px;
}
.block>li {
  width: 200px;
  color: #313030;
  margin-left: 35px;
  margin-top: 35px;
  list-style-type: none;
}
.advanced-input {
  border-radius: 24px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border: 1px solid transparent;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.advanced-button{
  background-color: #4285f4;
  border-radius: 24px;
  border: 1px solid transparent;
  color: white;
  font-size: 16px;
  margin-left: 400px;
  margin-top: 10px;
  padding: 3px 5px;
}
.block{
  display: flex;
}
.block-flex{
  display: inline-flex;
}
